/*****부드러운스크롤******/
html {
  scroll-behavior: smooth;
}
/******font 적용******/
@font-face {
  font-family: 'urdu';
  src: url('../font/NotoNastaliqUrdu-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT';
  src: url('../font/PTSansNarrow-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*****wrap기본 설정******/
#wrap{
  width:1920px;
  margin: auto;
}

/******main******/
#visual{
  width:100%;
  height:826px;
  background-image:url("../b-imgs/m-img.png");
}
.nav-box{
  width:1920px;
  height:92px;
  background-color:rgba(172,156,141,0.5);
  margin: auto;
}
nav{
  width:1080px;
  height:92px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  margin-bottom: 10px;
}
.logo > a{
  font-size: 25px;
  color:#fff;
  font-family: 'urdu';
  cursor: pointer;
}
.logo > a:hover{
  color:#efc5b9;
}
/*메뉴*/
.menu {
  width:580px;
  display: flex;
  justify-content:space-between;
}
.menu > li{
  width:100%;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding:35px 0;
  z-index: 8;
}
.menu  span{
  font-size: 21px;
  color:#fff;
  font-family: 'PT';
  transition:all 0.3s linear;
}
.menu  li:hover span{
  color:#efc5b9;
}
.child{
  flex-direction: column;
  transform:translateY(-100%);
}
.child-box{
  position: absolute;
  left: 0;
  right:0;
  top:100%;
  overflow: hidden;
}
.menu > li:hover  .child{
  transform:translateY(0);
  transition:all 0.3s linear;
}
.child > li {
  background-color:rgba(172,156,141,0.5);
  padding:5px 0;
  cursor: pointer;
}
.child > li > a{
  color: #41413e;
  font-family: 'NotoSerifKR';
  font-size: 18px;
}
.child > li:hover{
  background-color:#efc5b9;
}
/*사이드*/
.side{
  width:150px;
  justify-content:space-between;
  display:flex;

}
.select-dropdown select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  color:#fff;
  cursor:pointer;
  background: url('../images/s-icon.png') no-repeat 95% 50%; 
  width:60px;
  font-size:19px;
  line-height: 19px;
}
.select-dropdown option{
  background-color:#efc5b9;
}

/******p1******/
#p1{
  width:1080px;
  height: 682px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p1-txt{
  position: relative;
  height: 323px;
}
.p1-ttl{
  position: absolute;
  top:0px;
}
.p1-t{
  position:absolute;
  bottom:0px;
}
@keyframes p1-ttl{
  from{
    left:-500px;
    opacity: 0;
  }
  to{
    left:0px;
    opacity: 1;
  }
}
@keyframes p1-t{
  from{
    left:-500px;
    opacity: 0;
  }
  to{
    left:0px;
    opacity: 1;
  }
}


/******p2******/
#p2{
  width:1080px;
  height:400px;
  margin: auto;
}
video{
  width:100%;
  height:400px;
  object-fit: cover;
}


/******p3******/
#p3{
  width: 1080px;
  height:990px;
  margin:165px auto;
}
.p3-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.p3-txt1{
  position: absolute;
  left:102px;
}
@keyframes p3-txt1{
  from{
    left:-500px;
    opacity: 0;
  }
  to{
    left:102px;
    opacity: 1;
  }
}
.p3-no2{
  position: absolute;
  right:428px;
}
.p3-txt2{
  position: absolute;
  right:0px;
}
@keyframes p3-txt2{
  from{
    right:-500px;
    opacity: 0;
  }
  to{
    right:0px;
    opacity: 1;
  }
}
.p3-txt3{
  position: absolute;
  left: 102px;
}
@keyframes p3-txt3{
  from{
    left:-500px;
    opacity: 0;
  }
  to{
    left:102px;
    opacity: 1;
  }
}
/*****footer******/
#footer{
  width: 1920px;
  height:220px;
  background-color: #dbcfc3;
}
.f-box{
  width:1080px;
  height:220px;
  margin: auto;
  position:relative;
}
.f-info{
  position: absolute;
  top:42px;
  cursor:pointer;
}
.f-mid{
  width: 100%;
  display:flex;
  justify-content:space-between;
  position: absolute;
  top:105px;
}
.f-txt{
  height:14px;
  display:flex;
  cursor:pointer;
}
.f-txt > div{
  border-right: 2px solid #41413e;
  padding:0 27px;
}
.f-txt > .f-t4{
  border-right:none;
}
.f-txt > .f-t1{
  padding-left:0px;
}
.f-shop{
  cursor:pointer;
}
.f-icon{
  width:134px;
  position: absolute;
  right:0px;
  bottom:42px;
  display: flex;
  justify-content: space-between;
  cursor:pointer;
}
.f-icon img{
  width:26px;
  height:26px;
}


/*****top button******/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #efc5b9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#topBtn:hover{
  background-color: #fd9999;
}